@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.asideMenu {
  padding-top: 150px;
  width: 100%;
  @include alignment;
  flex-direction: column;
  gap: 10px;

  span {
    width: 100%;
    @include alignment;

    a {
      width: 100%;
      text-decoration: none;
      text-align: center;
      color: black;
      font: var(--aside-link-font);
      cursor: pointer;
      user-select: none;
      border-radius: 15px;
      padding: 5px 10px;

      &.active {
        font-size: 25px;
        font-style: italic;
        background: #7169b7;
        color: white;
        font-weight: bold;
      }

      &:hover {
        font-weight: bold;
      }
    }
  }
}